<div ng-app="tourguideFrontendApp" ng-controller="DashboardCtrl">
  <h4>景点管理</h4>
  <!--<div><a ng-href="/#!/addscenery">去增加景点</a></div>-->
  <button class="btn btn-primary" onclick="location='/#!/addscenery'">去增加景点</a></button>
  <div class="panel panel-default" ng-repeat="scenery in sceneries">
    <div class="panel-body">
      <img src="{{ scenery.icon }}" width="4%" height="4%"> <a ng-href="/#!/viewscenery/{{ scenery.id }}">{{ scenery.name }}</a>
    </div>
    <div>
      <md-button class="btn btn-primary" ng-click="editScenery($event, this)">编辑</md-button>
      <input type="button" class="btn btn-danger" ng-click="deleteScenery(this)"value="删除">
    </div>
  </div>

  <div ng-controller="DashboardCtrl">
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="10" ng-click="pageChanged()"></ul>
  </div>
</div>
