<div ng-app="tourguideFrontendApp" ng-controller="DashboardCtrl">
  <h4>景点管理</h4>
  <div ng-hide="sceneries.length">没有景点. <a ng-href="/#!/addscenery">去增加景点</a></div>
  <div><a ng-href="/#!/addscenery">去增加景点</a></div>
  <div class="panel panel-default" ng-repeat="scenery in sceneries">
    <div class="panel-body">
      * <img src="{{ scenery.icon }}" width="5%" height="5%"> <a ng-href="/#!/viewscenery/{{ scenery.id }}">{{ scenery.name }}</a>
      <md-button class="btn btn-primary" ng-click="editScenery($event, this)"  >编辑</md-button>
      <input type="button" class="btn btn-danger" ng-click="deleteScenery(this)" value="删除">
      <span class="badge"></span>
    </div>
  </div>

  <!--<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>-->
  <div ng-controller="DashboardCtrl">
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="10" ng-click="pageChanged()"></ul>
  </div>
</div>
