<h4>景点详情</h4>
<div class="panel panel-default" ng-show="scenery">
  <div class="panel-body">
    <h4>{{ scenery.name }}</h4>
    <h5>{{ scenery.addressValue }}</h5>
    <p id="content">
    </p>
  </div>

  <div class="panel-footer">
    <span class="badge"></span>
      <md-button class="btn btn-primary" ng-click="editScenery(scenery.id)">编辑</md-button>
      <input type="button" class="btn btn-danger" ng-click="deleteScenery(scenery)"value="删除">
  </div>
</div>
<!--<button><a ng-href="/#/dashboard">返回</a></button>-->
<button class="btn btn-primary" onclick="location='/#/dashboard'">返回</a></button>
